/* General */

:root {
    --light-gray: rgb(240, 240, 240);
    --dark-gray: #3e3e3e;
    --background-gray: #eaeaea;
    --background-card: rgb(228, 228, 228);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tela de Login */

.body-login {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    background-color: var(--background-gray);
}

.form-login {
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--background-card);
    padding: 3em;
    width: 30%;
    box-shadow: 10px 10px 10px var(--dark-gray);
    color: var(--dark-gray);
}

.div-title-login {
    display: flex;
    justify-content: center;
}

.title-login {
    margin-bottom: 1em;
    width: 50%;
    text-align: center;
}

.form-control {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--dark-gray);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color .3s ease-in-out;
}

.form-control:focus {
    background-color: var(--light-gray);
    border-bottom: 2px solid var(--dark-gray);
    box-shadow: none;
}

.div-btn-login {
    display: flex;
    justify-content: center;
    padding-top: .5em;
}

.btn-login {
    border-radius: 30px;
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    transition: all .3s ease-in-out;
}

.btn-login:hover {
    background-color: #6e6e6e;
    border: 1px solid #6e6e6e;
}

/* Tela de filmes */

.navbar {
    background-color: var(--background-card);
    height: 4em;
    box-shadow: 0 3px 10px var(--dark-gray);
}

.icon-search {
    color: var(--dark-gray);
    transform: translateX(-32px);
}

.search-bar {
    padding-right: 25px;
    background-color: var(--background-gray);
    border-color: var(--dark-gray);
    color: var(--dark-gray);
}

/* .btn-search {
    border: 2px solid var(--dark-gray);
    background-color: var(--background-card);
    color: var(--dark-gray);
    border-radius: 5px;
}

.btn-search:hover {
    border: 2px solid var(--background-card);
    background-color: var(--dark-gray);
    color: var(--background-card);
    transition: all .3s ease-in-out;
} */

.body-movies {
    background-color: var(--background-gray);
}

.main-movies {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--background-card);
    box-shadow: 8px 8px 10px var(--dark-gray);
    border-radius: 15px;
}

.icon-info {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.8em;
    color: var(--light-gray);
    opacity: 70%;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.icon-info:hover {
    transform: scale(1.1);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    width: 18rem;
    height: 20rem;
}

.card-title {
    text-align: center;
}

.icons-assessment {
    justify-content: space-between;
    margin-top: .7em;
}

.icon-star, .icon-heart, .icon-eye {
    font-size: clamp(8pt, 16pt, 24pt);
}

/* Responsividade */

@media screen and (max-width: 1350px){
    .form-login {
        width: 50%;
    }
}

@media screen and (max-width: 750px){
    .form-login {
        width: 80%;
    }
}